:root{
    --main-color:#555555;
    --secondary-color:#303030;
    --white-color: #FFFFFF;
    --transparent-color: rgba(157, 164, 189, 0.6);
}

*{
    margin: 0;
    padding: 0;
}

body{
    color: var(--main-color);
    font-family: 'Open Sans', sans-serif;
}

.conteiner {
    width: 1170px;
    margin: 0 auto;
}

/* font-family: 'Open Sans',
sans-serif;
font-family: 'Raleway',
sans-serif; */


.section-title {
    color: var(--secondary-color);
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
}




.section-header {
    height: 120px;
}
.section-header__nav {
    display: flex;
    align-items: center;

}

.list {
    list-style-type: none;
}

.link{
    text-decoration: none;
    font-style: normal;
}
.section-header__logo{
    margin-right: 132px;

}
.section-header__list {
    display: flex;
}

.section-header__item{
    margin-right: 30px;
}
.section-header__item:last-child {
    margin-right: 0px;
}
.section-header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: 130px;
}


.section-header__nav{
    display: flex;
} 

.section-header__list{
    display: flex;
}
.section-header__link{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--white-color);
}
.section-header__social {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 210px;
    left: 20px;
}
.section-header__social-item{
    margin-top: 40px;
    transform: rotate(180deg);
}
.section-header__social-item span{
    display: block;
    background: #303030;
    width: 2px;
    height: 60px;
}
.section-header__social-link{
    color: var(--secondary-color);
    writing-mode: vertical-rl;

}

.section-hero{
    position: relative;
    height: 560px;
}
.button {
    height: 40px;
    width: 160px;
    border-radius: 25px;
    border: 1px solid #FF6C00;
    background-color: transparent;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.swiper {
    height: 680px;
    width: 1070px;
}


.swiper-position{
    position: absolute;
    top: -120px;
    right: 0;
    z-index: -1;
}

.swiper-button-prev::after, .swiper-button-next:after {
    display: none;
}


.swiper-button {
    display: flex;
    justify-content: flex-start;
    width: 60px;
    height: 20px;
    top: 496px;
    left: auto;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.swiper-button{
    display: flex;
    width: 60px;
    height: 20px;
    top: 496px;
    left: auto;
    font: Open Sans, sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    cursor: pointer;
    z-index: 5;
}

.swiper-button-prev {
    justify-content: flex-start;
    left: auto;
    right: 100px;
    color: var(--transparent-color);
    border-bottom: solid 2px var(--transparent-color);
}
.swiper-button-next {
    justify-content: flex-end;
    right: 20px;
    border-bottom: solid 2px var(--white-color);
    color: #FFFFFF;

}
.swiper-description{
    position: absolute;
    z-index: 2;
    top: 152px;
    left: 100px;
}

.swiper-text{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--transparent-color);
    margin-bottom: 20px;
}

.swiper-title {
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--white-color);
    margin-bottom: 20px;
}

.swiper-about{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.swiper-pagination {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical>.swiper-pagination-bullets {
    right: 20px;
}
.swiper-pagination-bullet {
    background: #9DA4BD;
    width: 8px;
    height: 2px;
    border-radius: none;
}

.swiper-pagination-bullet-active{
    background: var(--white-color);
    width: 18px;
    height: 2px;
}

.section{
    padding: 120px 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
/* .col-3 {
    width: calc(25% - 0px);
    margin-right: 30px
} */
.col-6 {
    width: calc(50% - 0px)
}


.section-city {
    
}

.section-city__img{
    margin-right: 30px;
}

.section-city__description{
    width: 470px;
}

.section-city__btn{
    color: var(--secondary-color);
}
.padding-bottom{
    padding-bottom: 20px;
}
.text-top{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.text {

}
.white{
   color:var(--white-color)
}
.section-service{
    background:url('/BarberShop/img/fon.jpg') no-repeat center center
}